<!DOCTYPE html>
<html ng-app="ideaDetailApp">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />

	</head>

	<body ng-controller="ideaDetailCtr">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">{{ideaDetail.title}}</h1>
		</header>

		<div class="mui-content">
			<form class="mui-input-group">

				<div class="mui-input-row">
					<label>标题：</label>
					<input type="text" class="mui-input-clear" disabled="disabled" ng-model="ideaDetail.title">
				</div>

				<div class="mui-input-row">
					<label>创建时间：</label>
					<input type="text" class="mui-input-clear" disabled="disabled" ng-model="ideaDetail.time">
				</div>

				<div class="mui-input-row">
					<label>当前状态：</label>
					<div ng-switch="ideaDetail.status">
						<div ng-switch-when="1">
							<span class="mui-badge mui-badge-warning">审核中</span>
						</div>
						<div ng-switch-when="2 ">
							<span class="mui-badge mui-badge-primary">开发中</span>
						</div>
						<div ng-switch-when="3 ">
							<span class="mui-badge mui-badge-success">开发完成</span>
						</div>
						<div ng-switch-when="4 ">
							<span class="mui-badge">已关闭</span>
						</div>
					</div>
					<!--end of switch-->
				</div>

				<div class="mui-input-row">
					<label>描述：</label>
				</div>
				<textarea disabled="disabled" ng-model="ideaDetail.content" rows="5"></textarea>
			</form>

		</div>
		<!--end of body-->

		<div ng-switch="listResult.code">

			<div ng-switch-default>
				<li class="mui-table-view-cell">还没有任何回复哦！</li>
			</div>

			<div ng-switch-when="200">
				<div ng-repeat="feedback in listResult.data">
					<div ng-switch on="feedback.type">
						<div ng-switch-when="1">
							<!--用户回复view-->
							<div class="mui-card" style="background:  #007AFF;">
								<!--页眉，放置标题-->
								<div class="mui-card-header mui-card-media">
									<img src="../img/logo.jpg " />
									<div class="mui-media-body " style="color: white;">
										我
										<p style="color: white;">回复时间：{{feedback.time}}</p>
									</div>
								</div>

								<div class="mui-card-content ">
									<p style="color: white;">
										{{feedback.content}}
									</p>
								</div>
							</div>
							<!--end of card-->
						</div>
						<!--end of userView-->

						<div ng-switch-when="0 ">
							<!--管理员回复view-->
							<div class="mui-card">
								<!--页眉，放置标题-->
								<div class="mui-card-header mui-card-media">
									<img src="../img/logo.jpg " />
									<div class="mui-media-body ">
										工作人员：{{feedback.adminUsername}}
										<p>回复时间：{{feedback.time}}</p>
									</div>
								</div>

								<div class="mui-card-content ">
									<p style="color: black;">
										{{feedback.content}}
									</p>
								</div>
							</div>
							<!--end of card-->
						</div>
						<!--end of adminView-->
					</div>
					<!--end of switch-->

				</div>
				<!--end of repeat-->
			</div>
			<!--end of 200-->

		</div>
		<!--end of switch-->

		<div class="mui-input-row">
			<textarea placeholder="回复" rows="6" ng-model="newFeedbackText"></textarea>
		</div>
		<button type="button" class="mui-btn mui-btn-blue mui-btn-block" ng-click="send()" data-loading-text="稍等片刻" id="submitBtn">回复</button>

		<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js "></script>
		<script src="../js/urlConfig.js "></script>
		<script src="../js/mui.min.js "></script>
		<script src="../angular/ideaDetailApp.js"></script>
		<script src="../angular/ideaDetailCtr.js"></script>
	</body>

</html>